@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
}   

*::-webkit-scrollbar{
    width: 0! important;
}

img{
    position: absolute;
    top: 140%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 268px;
}

a > button{
    position: absolute;
    top: 288%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 271px;
    background-color: rgb(182, 15, 48);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}

a > button:hover{
    background-color: red;
}
